.card
  card__options.card__options-disabled
    .card__delete
      img(src="").card__icon 
      button(type="submit").card__button Удалить
    .card__modify
      img(src="").card__icon 
      button(type="submit").card__button Редактировать
  .card__task-status
    .card__description.card__description-UX UX
    .task-status__options ...
  .task-status__description Сделать лендинг на основе существующей дизайн-системы
  .users
    .users__avatar
      img(src="https://github.com/NikitaVakhrameev/gulp-template/blob/main/src/pic/nav/Rectangle%204.png?raw=true").user__avatar-first 
      img(src="https://github.com/NikitaVakhrameev/gulp-template/blob/main/src/pic/nav/Rectangle%206%20(1).png?raw=true").user__avatar-second 
      img(src="https://github.com/NikitaVakhrameev/gulp-template/blob/main/src/pic/nav/Rectangle%207.png?raw=true").user__avatar-third 
      img(src="https://github.com/NikitaVakhrameev/gulp-template/blob/main/src/pic/header/Rectangle%205.png?raw=true").user__avatar-forth 
    .users__counter +3
  .card__date
    img(src="https://raw.githubusercontent.com/NikitaVakhrameev/gulp-template/844a8a05e2782c956d8dffa1ae1417f6ce8b01b8/src/pic/nav/calendar.svg").date__calendar
    .date__task-open