.content.main__content
  .content__item Нужно сделать
    .content__cards-field
      include card-planning.pug
      include card-design.pug
      include card-UX.pug
  .content__item В процессе
    .content__cards-field
      include card-planning.pug
      include card-UI.pug
      include card-design.pug
  .content__item Ревью
    .content__cards-field
      include card-planning.pug
      include card-UX.pug
      include card-planning.pug
  .content__item Сделано
    .content__cards-field
      include card-planning.pug
      include card-UI.pug
      include card-planning.pug