.participants.nav__participants
  img(src="https://raw.githubusercontent.com/NikitaVakhrameev/gulp-template/a1dae5b830f4c621cafaf1742c7c71e860fc0586/src/pic/nav/users-01.svg" alt="").participants__icon 
  .participants__status 8 участников